<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/register.css">
</head>
<body>
    <div class="container">
        <h2>Register to Florics</h2>
        <form action="/register" method="post">
            <div><input type="text" name="names" id="names" placeholder="Names" class="names"></div>
            <div><input type="email" name="email" id="email" placeholder="Email" class="email"></div>
            <div><input type="password" name="password" id="password" placeholder="Password" class="password"></div>
            <div><textarea name="description"cols="30" rows="10" placeholder="Add description!"></textarea></div>
            <div><button type="submit" name="submit">Submit</button></div>
            <a href="/login">Login</a>
        </form>
    </div>
</body>
</html>